version: "3.9"

services:
  db:
    image: postgres:15
    container_name: rsshub-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DBNAME}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 5s
      timeout: 5s

  app:
    container_name: rsshub
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    ports: 
      - "8080:8080"
    depends_on: 
      db:
        condition: service_healthy  # Ensures DB is healthy before app starts

    
volumes:
  db_data:
